services:
  db:
    container_name: postgres-university-db
    image: postgres:18.1-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: university
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5332:5432"
    networks:
      - db

networks:
  db:
    driver: bridge

volumes:
  db: